:root {
  --vscode-font-family: "Arial, Helvetica, sans-serif";
  --vscode-editor-background: #1e1e1e;
  --vscode-foreground: #cccccc;
  --vscode-font-size: 1rem;
  --vscode-button-background: #0e639c;
  --vscode-button-background: #0e639c;
  --vscode-button-hoverBackground: #1177bb;
  --vscode-button-hoverBackground: #1177bb;
  --vscode-input-background: #3c3c3c;
  --vscode-input-foreground: #cccccc;
  --vscode-panel-border: #cecece;
  --vscode-dropdown-background: #3c3c3c;
  --vscode-list-hoverBackground: #2f3943;
}
